<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Process detail</h5>
          <p>
            <strong>ID</strong>: {{process.id}}</p>
          <p>
          <p>
            <strong>Process_name</strong>: {{process.Process_name}}</p>
          <p>
            <strong>Description:</strong> {{process.Process_Description}}</p>
            <strong>Device 1:</strong> {{process.Device1_name}}</p>
            <strong>Device 2:</strong> {{process.Device2_name}}</p>
            <strong>Device 3:</strong> {{process.Device3_name}}</p>
            <strong>Device 4:</strong> {{process.Device4_name}}</p>
            <strong>Device 5:</strong> {{process.Device5_name}}</p>
            
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
